.button{
  padding: 10px 30px;
  font-size: 16px;
  outline: none;
  border: 1px solid #1a1a1a;
  border-radius: 10px;
  transition: .5s ease;

  &:active, &:hover, &:focus{
    border: 1px solid #535bf2;
    background: cornflowerblue;
    cursor: pointer;
  }
}