.input{
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  border: 1px solid #1a1a1a;
  width: 100%;
  border-radius: 5px;
  transition: .5s ease;

  &:active, &:focus{
    border: 1px solid #535bf2;
  }
}